* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-pai {
    height: 100vh;
    width: 100vw;
    background-color: #7d45b3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-filho {
    height: 60vh;
    width: 60vw;
    background-color: #e7ceff;
    display: grid;
    border-radius: 10px;
    border: 1px solid black;
    padding: 40px;
    grid-template-areas:
        "titulo"
        "input"              
        "tarefas";
    grid-template-rows: 10% 40% 50%;
    grid-template-columns: 100%;
}

.titulo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
    grid-area: "titulo";
    color: #7637b1;
}

.tarefa-form {
    width: 100%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    padding-left: 10%;
    grid-area: "input";
}

.tarefas-atuais {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    overflow-y: scroll;
    padding-left: 10%;
    grid-area: "tarefas";
}

#tarefa-input{
    height: 40px;
    width: 230px;
    border-radius: 10px;
    padding: 10px;
}

#tarefa-input::placeholder {
    font-family: "Barlow";
    font-size: 17px
}

.subtitulo {
    font-family: "Barlow";
    font-size: 200%;
    margin-bottom: 15px;
}

#botao {
    height: 40px;
    width: 80px;
    border-radius: 5px;
    font-family: "Barlow";
    font-size: 105%;
    background-color: #a86ddf;
}

.texto-tarefa {
    font-family: "Barlow";
    font-size: 20px;
} 

.concluida {
    text-decoration: line-through;
}
